<ion-header class="ion-no-border">
 <ion-item lines="none">
  <ion-avatar slot="end">
    <img src="../../../assets/4.png">
  </ion-avatar>
 </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">WELCOME !!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main-header">
    
    <ion-grid>
      <ion-row>
        <ion-col id="ats">
          <h1><b>22°C</b></h1>
          <h3>Avg Oil Temp</h3>
        </ion-col>
        <ion-col id="ats">
          <h1><b>60°F</b></h1>
          <h3>Outside Temp</h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="ats">
          <h1><b>60%</b></h1>
          <h3>Humadity</h3>
        </ion-col>
        <ion-col id="ats">
          <h1><b>3</b></h1>
          <h3>Devices</h3>
        </ion-col>
      </ion-row>

      <ion-row id="room">
        <ion-label><b>Room</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-col id="rm" >
          <ion-button fill="clear" color="light" id="cl">Mousture Sensor</ion-button>
        </ion-col>
        <ion-col id="rm">
          <ion-button fill="clear" color="light" id="cl">NPK Sensor</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="rm">
          <ion-button fill="clear" color="light" id="cl">Temp</ion-button>
        </ion-col>
        <ion-col id="rm">
          <ion-button fill="clear" color="light" id="cl">Drawing Room</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button size="small">
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-label id="fab1"><b>Log Out</b></ion-label>
        <ion-fab-button (click)="logout()">
          <ion-icon name="exit"></ion-icon>
        </ion-fab-button>
        <ion-label id="fab2"><b>Panel Kontrol</b></ion-label>
        <ion-fab-button (click)="panel()">
          <ion-icon name="construct"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
